extends layout

block layout-content
  h1 Modules
  p Modules provide you the actual functionality. Currently, there are <strong>#{modules.length | 0}</strong> module(s) registered.
  table.table
    thead
      tr
        th Name
        th Version
        th Author
        th Modes
        th Plugin
    tbody
      each mod in modules
        tr
          td= mod.getName()
          td= mod.getVersion()
          td= mod.getAuthor()
          td= mod.getConfig().modes.join(', ')
          - pluginStatus = mod.hasPlugin() ? mod.getPlugin().status : 'UNAVAILABLE'
          if pluginStatus === 'RUNNING'
            td.table-success= pluginStatus
          if pluginStatus === 'UNAVAILABLE'
            td.table-danger= pluginStatus
      